.loader{
    width: 100%;
    height: auto;
    padding: 20px;
    font-size: 16px;
    background-color: skyblue;
    box-sizing: border-box;
}

.not-found{
    width: 100%;
    height: auto;
    padding: 20px;
    font-size: 16px;
    background-color: lightgrey;
    box-sizing: border-box;
}

ul.SearchList{
    margin: 0;
    padding: 0;
}

ul.SearchList > li{
    width: 100%;
    padding: 20px;
    background-color: skyblue;
    list-style: none;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    cursor: pointer;
}