.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
   }
   .search-container input {
    height: 32px;
    width: 300px;
    padding: 0px 12px 0px 12px;
   }
input{
    display: block;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius:4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 4px rgb(13 110 253 / 25%);
}